h3 {
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 60vw;
    padding: 20px;
    margin-top: 20px;
}